<%- include('templates/header.ejs') %>

    <section class="d-flex align-items-start min-vh-100 pt-5">
        <div class="container pt-5">
            <div class="col-md-6 text-center text-md-start">
                <div class="lc-block mb-3">
                    <div>
                        <h1 class="fw-bold h4">PAGE NOT FOUND!<br></h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('templates/footer.ejs') %>